* {
	box-sizing: border-box;
}

body {
	font-family: cursive;
	background-color: aqua;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 35%;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 15px;
	text-align: center;
	background-color: #fff;
}

button {
	border: none;
	padding: 20px;
	background-color: #fff;
}

img {
	border-radius: 15px;
}

.annual-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #efebfe;
	margin-right: 30px;
	margin-left: 30px;
	border-radius: 15px;
}

.annual-plan {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.main-quote {
	margin-top: 0;
}

.pay {
	padding: 15px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	background-color: hsl(263, 74%, 43%);
	border-radius: 8px;
	color: #fff;
	box-shadow: rgba(0, 0, 0, 30%) 5px 10px 10px;
}

.pay:hover {
	background-color: hsl(263, 36%, 54%);
}

.cancel {
	border: none;
	background-color: transparent;
	font-weight: bold;
}

.cancel:hover {
	color: hsl(193, 34%, 52%);
}

.change {
	text-decoration: none;
}
